@import "variables";

.button {
  cursor: pointer;
  padding: 1em 3em;
  border-radius: 3px;
  width: 300px;
  text-align: center;
  font-family: "Space Mono";
  transition: 0.1s ease-out;

  &:not(:last-child) {
    margin-right: 1em;
  }

  &--primary {
    background-color: $yellow;
    color: $darkPurple;
    border: none;

    &:hover {
      background-color: $darkYellow;
    }
  }

  &__chevron {
    width: 16px;
    animation: up-down 1.2s infinite;
  }

  @keyframes up-down {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(4px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}

@include breakpoints-down(small) {
  .button {
    &:not(:last-child) {
      margin-right: 0;
    }
  }
}